.slider {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
  }
  
  .slider.descktop {
    display: block;
  }
  
  .body {
    background-color: #000;
    text-align: center;
  }
  
  .image {
    text-align: center;
  }



  .buttoncontainer {
    position: relative;
    width: 100%;
  }
  /* Style the button and place it in the middle of the container/image */
  .buttoncontainer .btn {
    position: absolute;
    top: 85%;
    left: 15%;
    transform: translate(-85%, -15%);
    -ms-transform: translate(-85%, -15%);
    color: black;
    font-size: 46px;
    /*padding: 12px 24px;*/
    border: none;
    cursor: pointer;
    /*border-radius: 5px;*/
  }

  .heart {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
    background-position: 0 0;

    cursor: pointer;
    animation: fave-heart 1s steps(28);
  }

  .heart.checked {
    background-position: -2800px 0;
  }
  .heart.unchecked {
    background-position: 0 0;
  }
  .heart:hover {
    background-position: -2800px 0;
    transition: background 1s steps(28);
  }
  @keyframes fave-heart {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -2800px 0;
    }
  }


  
  .image-2 {
    display:block;
    width: 100vw;
    height: 100vh;
    min-width: 100%;
    background-color: #000;
    text-align: center;
  }
  .image-3 {
    display:none;
    width: 100vw;
    height: 100vh;
    min-width: 100%;
    background-color: #000;
    text-align: center;
  }

@media all and (max-width: 499px) {
    .image-2 {display: none;}
    .image-3 {display: block;}
}
  
  .slider-2 {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
  }
  
  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    text-align: center;
  }
.disable-pointer-events {
  pointer-events:none;  
}
.enable-pointer-events {
  pointer-events:auto;  
}
  /*
  @media (max-width: 991px) {
    .slider {
      display: block;
    }
    .slider-2 {
      display: none;
    }
    .image-3 {
      display: inline-block;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
    .image-3-copy {
      display: inline-block;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
  }
  
  @media (max-width: 479px) {
    .slider {
      display: block;
      height: 100vh;
    }
    .slider-2 {
      display: none;
      width: 100vw;
      height: 100vh;
      margin-top: 0px;
      padding-bottom: 0px;
    }
    .container {
      margin-top: -100px;
      padding-top: 0px;
    }
    .image-3 {
      margin-top: 30%;
      margin-bottom: 50%;
      padding-bottom: 0px;
    }
    .image-3-copy {
      margin-top: 30%;
      margin-bottom: 50%;
    }
    .mask-2 {
      width: 100%;
      height: 120%;
      margin-top: 0px;
      margin-left: 0px;
      text-align: center;
    }
    .slide-nav {
      top: 880px;
    }
  }*/